.reveal .slides section h1,
.reveal .slides section h2,
.reveal .slides section h3 {
	color: #f04e29;
}

em2 {
	color: #f04e29;
}

dem {
	color: grey;
}

dmention {
	color: #7289d8;
}

img[alt$=-icon] { 
	height: 300px;
	width: 300px;
}